---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=by%20the%20way&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=by+the+way&type=track&offset=0&limit=20",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/0L8ExT028jH3ddEcZwqJJ5"
                  },
                  "href" : "https://api.spotify.com/v1/artists/0L8ExT028jH3ddEcZwqJJ5",
                  "id" : "0L8ExT028jH3ddEcZwqJJ5",
                  "name" : "Red Hot Chili Peppers",
                  "type" : "artist",
                  "uri" : "spotify:artist:0L8ExT028jH3ddEcZwqJJ5"
                } ],
                "available_markets" : [ "AD", "AR", "AT", "AU", "BE", "BG", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "EC", "EE", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IS", "IT", "JP", "LT", "LU", "LV", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "PA", "PE", "PH", "PL", "PT", "PY", "SE", "SG", "SK", "SV", "TR", "TW", "US", "UY" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/6deiaArbeoqp1xPEGdEKp1"
                },
                "href" : "https://api.spotify.com/v1/albums/6deiaArbeoqp1xPEGdEKp1",
                "id" : "6deiaArbeoqp1xPEGdEKp1",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/b14027718a46fb43d8c6d8c88092fba9f75d9d21",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/39577b5613c625bd98e53ba74963be0a98bdd857",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/0efaf4d918fa1de42dbe8cdca0a1763b418fcfdf",
                  "width" : 64
                } ],
                "name" : "By The Way (Deluxe Version)",
                "type" : "album",
                "uri" : "spotify:album:6deiaArbeoqp1xPEGdEKp1"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/0L8ExT028jH3ddEcZwqJJ5"
                },
                "href" : "https://api.spotify.com/v1/artists/0L8ExT028jH3ddEcZwqJJ5",
                "id" : "0L8ExT028jH3ddEcZwqJJ5",
                "name" : "Red Hot Chili Peppers",
                "type" : "artist",
                "uri" : "spotify:artist:0L8ExT028jH3ddEcZwqJJ5"
              } ],
              "available_markets" : [ "AD", "AR", "AT", "AU", "BE", "BG", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "EC", "EE", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IS", "IT", "JP", "LT", "LU", "LV", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "PA", "PE", "PH", "PL", "PT", "PY", "SE", "SG", "SK", "SV", "TR", "TW", "US", "UY" ],
              "disc_number" : 1,
              "duration_ms" : 269000,
              "explicit" : false,
              "external_ids" : {
                "isrc" : "USWB10201694"
              },
              "external_urls" : {
                "spotify" : "https://open.spotify.com/track/3ZOEytgrvLwQaqXreDs2Jx"
              },
              "href" : "https://api.spotify.com/v1/tracks/3ZOEytgrvLwQaqXreDs2Jx",
              "id" : "3ZOEytgrvLwQaqXreDs2Jx",
              "name" : "Can't Stop",
              "popularity" : 78,
              "preview_url" : "https://p.scdn.co/mp3-preview/ba7cb54850ccc71f42c627b36e2045cec23e2662?cid=null",
              "track_number" : 7,
              "type" : "track",
              "uri" : "spotify:track:3ZOEytgrvLwQaqXreDs2Jx"
            }, {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/0L8ExT028jH3ddEcZwqJJ5"
                  },
                  "href" : "https://api.spotify.com/v1/artists/0L8ExT028jH3ddEcZwqJJ5",
                  "id" : "0L8ExT028jH3ddEcZwqJJ5",
 [...]
