---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=by%20the%20way&type=track
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "tracks" : {
            "href" : "https://api.spotify.com/v1/search?query=by+the+way&type=track&offset=0&limit=20",
            "items" : [ {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/0L8ExT028jH3ddEcZwqJJ5"
                  },
                  "href" : "https://api.spotify.com/v1/artists/0L8ExT028jH3ddEcZwqJJ5",
                  "id" : "0L8ExT028jH3ddEcZwqJJ5",
                  "name" : "Red Hot Chili Peppers",
                  "type" : "artist",
                  "uri" : "spotify:artist:0L8ExT028jH3ddEcZwqJJ5"
                } ],
                "available_markets" : [ "AD", "AR", "AT", "AU", "BE", "BG", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "EC", "EE", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IS", "IT", "JP", "LT", "LU", "LV", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "PA", "PE", "PH", "PL", "PT", "PY", "SE", "SG", "SK", "SV", "TR", "TW", "US", "UY" ],
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/album/6deiaArbeoqp1xPEGdEKp1"
                },
                "href" : "https://api.spotify.com/v1/albums/6deiaArbeoqp1xPEGdEKp1",
                "id" : "6deiaArbeoqp1xPEGdEKp1",
                "images" : [ {
                  "height" : 640,
                  "url" : "https://i.scdn.co/image/b14027718a46fb43d8c6d8c88092fba9f75d9d21",
                  "width" : 640
                }, {
                  "height" : 300,
                  "url" : "https://i.scdn.co/image/39577b5613c625bd98e53ba74963be0a98bdd857",
                  "width" : 300
                }, {
                  "height" : 64,
                  "url" : "https://i.scdn.co/image/0efaf4d918fa1de42dbe8cdca0a1763b418fcfdf",
                  "width" : 64
                } ],
                "name" : "By The Way (Deluxe Version)",
                "type" : "album",
                "uri" : "spotify:album:6deiaArbeoqp1xPEGdEKp1"
              },
              "artists" : [ {
                "external_urls" : {
                  "spotify" : "https://open.spotify.com/artist/0L8ExT028jH3ddEcZwqJJ5"
                },
                "href" : "https://api.spotify.com/v1/artists/0L8ExT028jH3ddEcZwqJJ5",
                "id" : "0L8ExT028jH3ddEcZwqJJ5",
                "name" : "Red Hot Chili Peppers",
                "type" : "artist",
                "uri" : "spotify:artist:0L8ExT028jH3ddEcZwqJJ5"
              } ],
              "available_markets" : [ "AD", "AR", "AT", "AU", "BE", "BG", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "EC", "EE", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "ID", "IE", "IS", "IT", "JP", "LT", "LU", "LV", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "PA", "PE", "PH", "PL", "PT", "PY", "SE", "SG", "SK", "SV", "TR", "TW", "US", "UY" ],
              "disc_number" : 1,
              "duration_ms" : 269000,
              "explicit" : false,
              "external_ids" : {
                "isrc" : "USWB10201694"
              },
              "external_urls" : {
                "spotify" : "https://open.spotify.com/track/3ZOEytgrvLwQaqXreDs2Jx"
              },
              "href" : "https://api.spotify.com/v1/tracks/3ZOEytgrvLwQaqXreDs2Jx",
              "id" : "3ZOEytgrvLwQaqXreDs2Jx",
              "name" : "Can't Stop",
              "popularity" : 78,
              "preview_url" : "https://p.scdn.co/mp3-preview/ba7cb54850ccc71f42c627b36e2045cec23e2662?cid=null",
              "track_number" : 7,
              "type" : "track",
              "uri" : "spotify:track:3ZOEytgrvLwQaqXreDs2Jx"
            }, {
              "album" : {
                "album_type" : "album",
                "artists" : [ {
                  "external_urls" : {
                    "spotify" : "https://open.spotify.com/artist/0L8ExT028jH3ddEcZwqJJ5"
                  },
                  "href" : "https://api.spotify.com/v1/artists/0L8ExT028jH3ddEcZwqJJ5",
                  "id" : "0L8ExT028jH3ddEcZwqJJ5",
 [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/tracks/1f2V8U1BiWaC9aJWmpOARe
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "album" : {
            "album_type" : "album",
            "artists" : [ {
              "external_urls" : {
                "spotify" :[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/audio-analysis/1f2V8U1BiWaC9aJWmpOARe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQCDmGRKM2g7J83eiNbP4HghLqMiwAkWIUIRX9-qIbzshxLlAY_Jf7kWv9Odex0TxYIOXgw3-erNLxtF2MeY3w
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"meta":{"analyzer_version":"4.0.0", "platform":"Linux", "detailed_status":"OK",
        "status_code":0, "timestamp":1444755751, "analysis_time":9.22724, "input_process":"libvorbisfile
        L+R 44100->22050"}, "track":{"num_samples":4783380, "duration":216.93333,
        "sample_md5":"", "offset_seconds":0, "window_seconds":0, "analysis_sample_rate":22050,
        "analysis_channels":1, "end_of_fade_in":0.00000, "start_of_fade_out":209.78068,
        "loudness":-4.938, "tempo":122.444, "tempo_confidence":0.382, "time_signature":4,
        "time_signature_confidence":0.879, "key":0, "key_confidence":0.102, "mode":1,
        "mode_confidence":0.377, "codestring":"eJxVmweWbLcNRLfSS2AO-9-Y7y12f419ZKnJl0gQKBTCnDtK7au1T_ms0Vapc7fPrM1Rn6vM9jmlvNE8zNdyDv_a8zQv1j4GV-vp3Sfr-ndzLwxP4-qs-7Z716dVXjDO2bXwo_V1vNh4R6uftrjXi2UMbj2n_LnYa8mLTqmLq73f34u8uMbfF_XLvb2ftvdgY4M1fdq8vZ3F1cHY9bc71rjnM_ge3y5lrLLrZzYuc3ebrbX-mZOrv7sdb1_2727k9ffu1RBBhnWMzZLa-TvcZ_wZ8t3y99X8yML6HmyW65PbPY6z-r0fHi6ffVdpbZ_OoSjPVRAw2_6c3soHkZVy756fM06Gqw5lcxbrynC2fvm1xp_hrfPv1dv3-pw72uCp_blKwKvtzFk_d_X2u5r1sxf-PUYra5Ttz94y0dm9ClJWFCYT905-Xh5BjvWcw8ZqXSeC6NyxKhNtjPOTxEQpatv9n2gOoqq8qP3fRP-e07-J0XlkrYp[...]
