<h1>Trippin' Dots</h1>

<div id='search-form'></div>
<em>Don't worry about scrolling, we'll do that for you.</em>

<script type="text/template" id="search-form-template">
  <input id="search-input-title" name="song-title" placeholder ="Song title" type="text">
  <input id="search-input-artist" name="artist-name" placeholder ="Artist name" type="text">
  <label for="sensitivity-input">Sensitivity</label>
  <input id="sensitivity-input" name="sensitivity-slider" type="range" min="20" max="40" onchange="printValue('sensitivity-input', 'sensitivity-value')">
  <input id="sensitivity-value" type="number" name="sensitivity-number" min="20" max="40" size="5">
  <input id="search-button" type="submit" >
</script>

<script>
  function printValue(sliderID, textbox) {
      var x = document.getElementById(textbox);
      var y = document.getElementById(sliderID);
      x.value = y.value;
  }

  window.onload = function() { printValue('sensitivity-input', 'sensitivity-value') }
</script>

<div id="trippin-display"></div>
