<!DOCTYPE html>
<html>
<head>
  <title>Trippindots</title>
<!--   We're visualizing songs with dots using the Echo Nest and iTunes APIs. The concept was to create dots the represent the intensity of a note or sound and break the representation into to segments based on the Echonest analysis. The user can search for a song and it will pull the data load it and represent it dynamically.

Team Members: Alex Shook, Ash Kamel, Jesse Sessler, Verner D'souza

See the code at https://github.com/alexshook/trippindots

Tripping dots was created during an 8 hour hackathon at the Etsy Month Music Hackathon -->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
